<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    package="com.example.hello">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".Home.FragmentActivity"
            android:theme="@style/Theme.Hello"
            android:exported="true"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d93c80527f079de0c534ed2f2f27e4ae" />

        <activity
            android:name=".Home.MainActivity"
            android:exported="false" />
        <activity android:name=".login_register.LoginActivity" />
        <activity android:name=".login_register.RegisterActivity" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>